.map-homepage {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/img/HomepageMapBackground.jpg");
    background-size: cover;
    height: 80vh;
    width: 50vw;
    background-color: whitesmoke;
    position: absolute;
    border: 2px solid #f0f3ed;
    transform: translate(85%, -58%);
    box-shadow: 0 5px 20px 2px whitesmoke;
}
.map-container {
    height: 80%;
    width: 99%;
    margin: auto;
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
}

.map-description {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
}
