@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 99.3%;
    padding: 5px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgb(2, 56, 69)); */
    background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.5));
    /* border-bottom: 2px double whitesmoke; */
    transition: all 1s linear;
}
.skew {
    height: 80%;
    width: 30%;
    color: #f1ffe7;
    /* border: 2px double #f1ffe7; */
    /* transform: skewX(30deg); */
    animation: title 2s ease-in-out;
    transition: all 200ms linear;
}
.skew:hover {
    /* background-color: #f1ffe7; */
    /* color: rgb(2, 56, 69); */
    /* border-bottom: 4px solid whitesmoke; */
    transform: scale(1.5);
}
.title {
    padding: 5px;
    /* transform: skewX(-30deg); */
    text-align: center;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 2px;
}
.logo {
    width: 80px;
    padding: 5px;
    margin-left: 30px;
    align-self: flex-start;
    border-radius: 30px;
    transition: all 200ms linear;
}
.logo:hover {
    transform: rotate(10deg) scale(1.2);
}
.nav-link {
    color: #f1ffe7;
    max-width: 50px;
    align-self: center;
    text-overflow: clip;
    text-decoration: none;
    /* background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)); */
    /* border-radius: 30px; */
    padding: 10px 20px;
    margin: 0 5px;
    /* border-radius: 15px; */
    font-size: 1.3rem;
    transition: all 100ms linear;
}
.nav-link:hover {
    /* background-color: #f1ffe7; */
    /* color: rgb(2, 56, 69); */
    border-bottom: 2px solid whitesmoke;
}
.nav-link span:hover {
    transform: scale(1.2);
}
.nav-icon {
    display: none;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
}
.drop-down {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    right: 1%;
    top: 15%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 30px;
    background: rgb(2, 56, 69, 0.8);
    width: 20vw;
    color: whitesmoke;
    list-style: none;
    transition: all 200ms linear;
    animation: drop-down 300ms ease-in-out;
}
@keyframes drop-down {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}
.drop-down-link {
    display: block;
    color: #f1ffe7;
    width: 95%;
    text-decoration: none;
    position: inherit;
    /* background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)); */
    border-bottom: 1px solid whitesmoke;
    /* border-radius: 15px; */
    font-size: 1.3rem;
    padding: 10px;
    transition: all 100ms linear;
    /* transform: translateX(-20px); */
}
@keyframes title {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateX(0deg) skewX(30deg);
    }
}
@media (max-width: 768px) {
    .nav-icon {
        display: block;
    }
    .nav-link {
        display: none;
    }
}
@media (max-width: 400px) {
    .nav-link {
        display: none;
    }
    .drop-down {
        width: 40vw;
    }
    .drop-down-link {
        font-size: 1rem;
        width: 95%;
    }
}
