.profile-section {
    display: flex;
    justify-content: space-around;
    /* width: 90%; */
    margin: 20px auto;
    /* box-shadow: 0 0 10px 2px rgba(172, 172, 172, 0.808); */
    border-radius: 20px;
    /* background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)); */
    /* url("../assets/img/AppBackground1.jpg"); */
    background-size: cover;
    /* background-position-y: -300px; */
    animation: profile-section 1s ease-out;
}
@keyframes profile-section {
    from {
        transform: translateY(40%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 5px 2px rgba(245, 245, 245, 0.507);

    background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8));
    /* url("../assets/img/LoginBackground.jpg"); */
    background-size: cover;
    transform: translateY(10%);
    transition: all 200ms ease-out;
}
.profile-card:hover {
    transform: translateY(10%) scale(1.1);
}
.my-locations {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-height: 60vh;
    width: 30%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    /* box-shadow: 0 0 5px 2px rgba(245, 245, 245, 0.521); */
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
    /* url("../assets/img/HomepageMapBackground.jpg"); */
    background-size: cover;
    transform: translateY(10%);
    transition: all 200ms ease-out;
}
.my-locations:hover {
    transform: translateY(10%) scale(1.1);
}
.profile-heading {
    width: 30%;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}
.location-heading {
    width: 60%;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}
.avatar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.avatar div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.avatar div button {
    width: 90%;
    padding: 5px;
    background-color: rgb(2, 56, 69);
    color: whitesmoke;
    border: 2px solid whitesmoke;
    cursor: pointer;
    transition: all 200ms ease-out;
}
.avatar div button {
    transform: scale(1.1);
}
.avatar img {
    width: 90%;
    border-radius: 50%;
}
.avatar > span {
}
.bio {
    width: 90%;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
}
.city {
    min-width: 20%;
    font-size: large;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 5px;
}
.modify-profile {
    padding: 5px;
    background-color: rgb(2, 56, 69);
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-out;
}
.modify-profile:hover {
    transform: scale(1.1);
}
.username {
    color: whitesmoke;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 10px 10px 0 0;
}

@media (max-width: 1000px) {
    .profile-section {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .profile-card {
        width: 70%;
        margin-bottom: 20px;
    }
    .my-locations {
        width: 70%;
        margin-top: 10px;
    }
}
