@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap");

.signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
    margin: 50px auto;
    border-radius: 20px;
    background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8));
    /* background: transparent; */
    background-size: cover;
    /* box-shadow: 0 5px 20px 2px whitesmoke; */
    animation: animation 1s ease-out;
}
.signup-form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid whitesmoke; */
    width: 30vw;
    padding: 30px;
    margin: 20px auto;
    border-radius: 20%;
}
textarea {
    padding: 20px;
    margin: 5px auto;
    width: 60%;
    border: 2px solid black;
    border-radius: 30px;
}
textarea::placeholder {
    color: grey;
}
.signup-heading {
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    background-color: whitesmoke;
    color: rgb(2, 56, 69);
    border: 2px solid rgb(2, 56, 69);
    border-radius: 20px;
    font-family: "Permanent Marker", cursive;
    font-family: "Righteous", cursive;
    letter-spacing: 1px;
}
.signup-form label {
    text-align: center;
    color: rgb(2, 56, 69);
    font-weight: bold;
    border: 2px solid rgb(2, 56, 69);
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
    margin-right: 10px;
}
input[type="file"] {
    background-color: whitesmoke;
    width: 30px;
}

@keyframes animation {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .signup-card {
        width: 80%;
        margin: 50px auto;
    }
    .signup-form {
        width: 80%;
    }
}
