.App {
    text-align: center;
}
::placeholder {
    color: whitesmoke;
}
.App {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("./assets/img/AppBackground1.jpg");
    background-size: cover;
    background-position-y: -100px;
    min-height: 100vh;
    width: 100vw;
}
@media (max-width: 768px) {
    .App {
        background-size: cover;
        background-position-y: 0;
    }
}
@media (max-width: 400px) {
    .App {
        width: auto;
    }
}
