.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    min-height: 40vh;
    background: linear-gradient(rgb(2, 53, 69), rgb(0, 0, 0));
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin: 20px;
    transition: all 200ms ease-out;
    animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card:hover {
    transform: scale(1.1) translateY(-10%);
}
@media (max-width: 768px) {
    .card {
        width: 30vw;
    }
}
